body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.flex-container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.icons {
  height: 50px;
  width: 50px;
}

nav ul {
  text-align: center;
  font-size: 16pt;
  font-weight: 500;
  font-style: normal;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

a {
  color: rgb(130, 85, 157);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(130, 85, 157);
  padding-bottom: 1px;
}

#button1 {
  width: 200px;
  height: 70px;
  background-color: rgb(130, 85, 157);
  padding: 12px 16px 12px 16px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#button1:hover {
  background-color: rgba(131, 85, 157, 0.47);
}

h1 {
  text-align: center;
  color: rgb(113, 18, 168);
}

.flex-container_main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 0;
}

.flex-container_main_1 {
  width: 45%;
  flex-shrink: 0;
  display: inline-block;
  border-width: 2px;
  border-style: groove;
}

.flex-container_main_2 {
  width: 45%;
  flex-shrink: 0;
  display: inline-block;
  border-width: 2px;
  border-style: groove;
}

.flex-container_main_3 {
  width: 45%;
  flex-shrink: 0;
  display: inline-block;
  border-width: 2px;
  border-style: groove;
}

.flex-container_main_4 {
  width: 45%;
  flex-shrink: 0;
  display: inline-block;
  border-width: 2px;
  border-style: groove;
}

.scale {
  transition: 1s;
  height: 100%;
  width: 100%;
}

.scale:hover {
  transform: scale(1.2);
  /* применено свойство увеличения изображения при наведении курсора */
}